[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "==2.8.6"
python-dotenv = "*"
ipython = "*"
fastapi = {extras = ["standard"], version = "*"}
alembic = "*"
faker = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.15"
